<div id="wrapper">

<div id="space2">

</div>
<div id="space3">

</div>
<div id="space1">

</div>
<div id="space3">

</div>
<div id="space2">

</div>

{% extends "base.html" %} {% import 'macros.html' as macros %}
{% block content %}


<div class="col-md-4 col-md-offset-4">

    <table class="table table-striped table-hover">
  <thead>
{% for z in results %}
    <tr>
	    <td><a href="post/{{z.id}}">{{z.notes}}</a> -- posted by {{z.username}}</td>
	     
    </tr>
{% endfor %}
  </tbody>
</table>


<hr>

<div class="col-md-4 col-md-offset-4">

<form method="post" action="/index"  id="db_post" name="db_post">

    {{ form1.hidden_tag() }}

    {{ macros.render_field(form1.dbNotes, placeholder='Enter text to submit to the DB', type='dbNotes', label_visible=false) }}

    {{ macros.render_field(form1.dbUsername, placeholder='Enter username plz', type='dbUsername', label_visible=false) }}

    <div align="center"><button type="submit" class="btn btn-primary">Submit</button></p></div>

</form>

</div>

{% endblock %}




</div><!--wrapper-->
</body>
</html>
