{% extends "base.html" %} {% import 'macros.html' as macros %}
{% block content %}

<div id="wrapper">

<div id="space2">

</div>
<div id="space3">

</div>
<div id="space1">

</div>
<div id="space3">

</div>
<div id="space2">

</div>


<div class="col-md-4 col-md-offset-4">

<form method="post" action="/index" id="db_post" name="db_post">

    {{ form1.hidden_tag() }}

    {{ macros.render_field(form1.dbUser, placeholder='USERNAME', type='dbUser', label_visible=false) }}

    {{ macros.render_field(form1.dbPass, placeholder='PASSWORD', type='dbPass', label_visible=false) }}

    <div><button type="submit" class="btn btn-primary">Submit</button></p></div>

</form>

</div>

{% endblock %}




</div><!--wrapper-->
</body>
</html>
