{% extends "base.html" %} {% import 'macros.html' as macros %}
{% block content %}

<div id="wrapper">

<div id="space2">

</div>
<div id="space3">

</div>
<div id="space1">

</div>
<div id="space3">

</div>
<div id="space2">

</div>


<div class="col-md-4 col-md-offset-4">

	<h2> Posts by {{results[1].username}} </h2>

    <table class="table table-striped table-hover">
  <thead>
{% for z in results %}
    <tr>
	    <td><a href="/post/{{z.id}}">{{z.notes}}</a> -- posted by <a href="/post/{{z.username}}">{{z.username}}</a></td>
	     
    </tr>
{% endfor %}
  </tbody>
</table>


<hr>

{% endblock %}




</div><!--wrapper-->
</body>
</html>
